# for eclipse
/.settings/
/.project

# for idea
*.iml
/.idea
*/target
.DS_Store
.gitattributes
*.prefs
xxl-job-executor-samples/xxl-job-executor-sample-springboot/.classpath
xxl-job-executor-samples/xxl-job-executor-sample-springboot/.project
